body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.reference {
	text-indent:-0.5in;
}
.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}
  .inverse-dropdown >li>a{
    color: #999;
  }
    .inverse-dropdown >li>a:hover{
      color: #fff;
	  background-color: #222;
      
    }
	.inverse-dropdown > .active >a,
	.inverse-dropdown > .active >a:hover
	{
      color: #fff;
      background-color: #000;
    }
  
  .inverse-dropdown >.divider {
    background-color: #000;
  }
  
  .node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}
	

	.link {
	  fill: none;
	  stroke: #ccc;
	  
	  shape-rendering: crispEdges;
	}
#container {
    min-width: 300px;
    max-width: 1000px;
    height: 420px;
    margin: 1em auto;
}