@charset "UTF-8";
body {
   background-color: #333;  
   color: #999;
   font: 12px/1.4em Arial,sans-serif;
}
#wrap {
	margin: 10px auto;
	background-color: #9C9C9C;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	width: 850px;
	-webkit-box-shadow: 0px 0px 0 0;
	box-shadow: 0px 0px 0 0;
}
#wrap footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #2484B9;
	color: #000000;
	padding-left: 10px;
	-webkit-box-shadow: 0px 0 0 0px;
	box-shadow: 0px 0 0 0px;
	margin-right: 0px;
}
#header {
	background-color: #2484B9;
	color: #FFF;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#logo {
   font-size: 30px;  
   line-height: 40px;    
   padding: 5px;
}
#wrap p {
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;
	font-size: medium;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#navWrap {
	height: 30px;
	
}
#nav {
	
	-webkit-box-shadow: 0px 3px 13px #000000;
	box-shadow: 0px 3px 13px #000000;
	
	height: auto;
}
#nav ul {
	margin-top: 0px;
	margin-right: -6px;
	margin-left: -6px;
	margin-bottom: 0px;
	padding: 0;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	
}
#nav li {
	float: left;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	vertical-align: middle;
	border-radius: 0px;
	width: 33.3333%;
	line-height: normal;
	height: auto;
	font-size: large;
	font-weight: bold;
}
#wrap figure {
	float: none;
	clear: none;
	width: auto;
	vertical-align: middle;
	padding-left: 0px;
	left: auto;
}
#wrap figuresmall {
	float: none;
	clear: none;
	width: auto;
	vertical-align: middle;
	padding-left: 0px;
	left: auto;
}
#nav li a {
	color: #FFFFFF;
	vertical-align: middle;
	clear: none;
	text-align: center;
	
	display: block;
	background-color: #C05759;
	text-decoration: none;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
}
#nav li a.thispage {
	background-color: #42926D
}
#nav li a:hover,#nav li a:active,#nav li a:focus {
	background-color: #57BD9F;	
}

br.clearLeft {
   clear: left;        
}​


img.ProcessFlow {
	width: 20%;
	background-color: #D6DFE3;
	background-image: -webkit-linear-gradient(270deg,rgba(190,213,225,1.00) 0%,rgba(230,236,238,0.83) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(190,213,225,1.00) 0%,rgba(230,236,238,0.83) 100%);
	background-image: -o-linear-gradient(270deg,rgba(190,213,225,1.00) 0%,rgba(230,236,238,0.83) 100%);
	background-image: linear-gradient(180deg,rgba(190,213,225,1.00) 0%,rgba(230,236,238,0.83) 100%);
}
#wrap table {
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 0px;
	float: left;
	width: auto;
}
table {
    border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
th {
    background-color: #2484B9;
    color: white;
	text-align: left;
}
tbody tr td {
	background-color: #CECECE;
	color: #212C30;
}
.reference {
}
#wrap .reference {
	font-size: 12pt;
	color: rgb(0, 0, 0);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	orphans: auto;
	text-align: left;
	text-transform: none;
	white-space: normal;
	widows: 1;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	text-indent: -0.5in;
	margin-top: 7px;
	margin-right: 5px;
	margin-left: 0.5in;
	margin-bottom: 10px;
	line-height: 27.5pt;
}
#wrap .reference a {
	text-decoration: none;
	color: #506A72;
}
.medium {
	border-top-right-radius: 0px;
	background-color: #973738;
	margin-right: 0px;
	width: 20%;
}
.large {
	width: 800px;
}
.floatRight {
	margin-left: 20px;
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
}
.floatLeft {
	margin-left: 20px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
#wrap .ProcessFlow {
	width: 800px;
	margin-left: 20px;
	margin-right: 0px;
	background-image: -webkit-linear-gradient(270deg,rgba(204,221,240,1.00) 0%,rgba(238,247,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(204,221,240,1.00) 0%,rgba(238,247,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(204,221,240,1.00) 0%,rgba(238,247,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(204,221,240,1.00) 0%,rgba(238,247,255,1.00) 100%);
}
